*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container{
    background-color: darkgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 60px;
}

.main-content{
    flex: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-areas: 
    "Item1 Item2 Item3"
    "Item4 Item4 Item4"
    "Item5 Item5 Item6";
    gap: 5px;
}

.Item{
    border: 3px solid black;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}

.footer{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 60px;
}

.Item1{
    grid-area: Item1;
}

.Item2{
    grid-area: Item2;
}

.Item3{
    grid-area: Item3;
}

.Item4{
    grid-area: Item4;
}

.Item5{
    grid-area: Item5;
}

.Item6{
    grid-area: Item6;
}